.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url('../img/MenuAberto.svg');
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho__menu-hamburguer {
    height: 24px;
    width: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho__menu-hamburguer:hover {
    cursor: pointer;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.cabecalho__opcoes,
.opcoes__botao,
.container__link__texto {
    display: none;
}



@media screen and (min-width: 1024px) {

    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .cabecalho__opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1.5em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: 15%;
    }

    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 4em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__link__texto {
        font-size: 20px;
        color: var(--preto);
        display: block;
    }

    .cabecalho__opcoes {
        margin-right: auto;
        margin-left: 4em;
    }
}